/* normalize.css */
@import url(../vendor/normalize.css);

/* Fonts */
@import url(../vendor/fonts.css);

.theme_light {
  --color-primary: #F5F5F5;
  --color-secondary: #E1E1E1;
  --color-accent: #929292;
  --font-color: #171616;
  --color-ultra-accent: #533566;
 }

.theme_dark {
  --color-primary: #1E1E1E;
  --color-secondary: #2C2C2C;
  --color-accent: #7b4e97;
  --font-color: #a4a4a4;
  --color-ultra-accent: #533566;
}

.body {
  background-color: var(--color-primary);
  font-family: Inter, Arial, sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 500px;
}

/* Header */
.header_heading {
  margin: 0;
  padding: 25px 15px;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 900;
  color: var(--font-color);
}

.main {
  display: grid;
  grid-template-areas:
    "settings gamefield"
    "score score";
  grid-template-columns: 30% 70%;
  min-height: calc(100vh - 140px);
}

@media (max-width: 900px) {
  .main {
    grid-template-areas:
      "settings"
      "gamefield"
      "score";
    grid-template-columns: 100%;
  }
}

.left-side {
  grid-area: settings;
  padding: 15px;
}

.right-side {
  grid-area: gamefield;
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  justify-content: space-evenly;
  border: 0;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-secondary);
}

.form__heading,
.score-board__heading,
.score__heading,
.time__heading {
  display: flex;
  margin: 0;
  padding: 20px 5px 10px 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  justify-content: space-between;
  color: var(--font-color);
}

.form__heading:first-child {
  padding-top: 10px;
}

.form__heading_thin {
  font-weight: 400;
}

.form__input {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: var(--font-color);
}

.form__input:focus {
  outline: none;
}

.form__slider-wrapper {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  min-height: 38px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.form__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: var(--color-accent);
  outline: none;
}

.form__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--font-color);
  cursor: pointer;
}

.form__button {
  margin: 20px 0;
}

.form__label {
  padding-left: 5px;
}

.form__span {
  display: flex;
}

.form__theme,
.form__level,
.form__label {
  cursor: pointer;
  color: var(--font-color);
}

.dashboard {
  display: flex;
}

.dashboard__score {
  width: 50%;
}

.dashboard__time {
  width: 50%;
}

.score,
.time {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.score_view,
.time_view {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-secondary);
  width: 50%;
  text-align: center;
  color: var(--font-color);
}

.score__heading,
.time__heading {
  padding-top: 10px;
}

.btn-set {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  background: var(--font-color);
  color: var(--color-primary);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.theme_dark .btn-set {
  background: var(--color-ultra-accent);
  color: var(--font-color);
}

.btn-set:hover {
  opacity: 0.8;
}

.score-board {
  grid-area: score;
  padding: 15px;
}

.score-board__heading {
  padding-top: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
}

.table {
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 10px;
  border-collapse: collapse;
  table-layout: fixed;
  color: var(--font-color);
}

.table__heading {
  border-bottom: 2px solid var(--color-accent);
  height: 40px;
}

.table__row {
  text-align: center;
  height: 40px;
}

.row__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 76.4px);
  padding: 15px 0 15px 0;
}

.field {
  max-width: 120px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--color-ultra-accent);
  border-radius: 10px;
}

.pin {
  width: 40px;
  height: 40px;
  background-color: var(--color-secondary);
  box-shadow: inset 0 2px 0 0 var(--color-primary),
              inset 2px 0 0 0 var(--color-primary),
              inset 0 -2px 0 0 var(--color-accent),
              inset -2px 0 0 0 var(--color-accent);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--font-color);
}

.theme_dark .pin {
  background-color: var(--color-ultra-accent);
  color: var(--font-color);
  box-shadow: inset 0 2px 0 0 var(--color-accent),
              inset 2px 0 0 0 var(--color-accent),
              inset 0 -2px 0 0 var(--color-primary),
              inset -2px 0 0 0 var(--color-primary);
}

.pin:hover {
  background-color: var(--color-primary);
}

.theme_dark .pin:hover {
  background-color: var(--color-secondary);
}

.pin__opened {
  background: var(--color-secondary);
  box-shadow: inset 0 1px 0 0 var(--color-secondary),
              inset 1px 0 0 0 var(--color-secondary),
              inset 0 -1px 0 0 var(--color-secondary),
              inset -1px 0 0 0 var(--color-secondary);
  cursor: default;
}

.theme_dark .pin__opened {
  background: var(--color-primary);
  box-shadow: inset 0 1px 0 0 var(--color-primary),
              inset 1px 0 0 0 var(--color-primary),
              inset 0 -1px 0 0 var(--color-primary),
              inset -1px 0 0 0 var(--color-primary);
  cursor: default;
}

.pin__opened:hover {
  background: var(--color-secondary);
}

.theme_dark .pin__opened:hover {
  background: var(--color-primary);
}

.footer {
  padding: 20px 15px;
}

.footer__author {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--font-color);
}

.footer__link {
  color: var(--font-color);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
  text-underline-position: under;
}
